# Ignorarse a sí mismo
.gitignore

# Ignorar los archivos que crea Obsidian
.obsidian/

# Ignorar entorno virtual
.venv/

# Ignorar la carpeta de salida de MkDocs
buquesArmada/site/

# Ignorar archivos de Python compilados
*.pyc
*.pyo
*.pyd
__pycache__/

# Ignorar scripts para facilitar el uso de MkDocs
buquesArmada/nav.py
buquesArmada/nav.yml
buquesArmada/publica.sh
